<script>
  $('.navtabs').removeClass('active');
  $('#classes').addClass('active');
</script>

<div class="container mainbody">
    <div class="row">
        <div class="col-sm-12">

            {{#each classes}}
            <a href="classes/{{this.id}}" class="classlink">
                <div class="thumbnail cards">
                    <div class="caption">
                    <h3 class="className">{{this.name}}</h3>
                    <p class="classDate">{{this.cleandate}}</p>
                    </div>
                </div>
            </a>
            {{/each}}

        </div>
    </div>
</div>