<script>
  $('.navtabs').removeClass('active');
  $('#classmates').addClass('active');
</script>

<div class="container mainbody">
    <div class="row">
        <div class="col-sm-12">

            {{#each classmate}}
            <div class="thumbnail usercards">
                <img src="{{this.Picture}}" alt="" class="smImage"/>
                <div class="caption">
                <h3 class="cmName">{{this.fName}} {{this.lName}}</h3>
                <p class="cmStats">Lifetime Points: {{this.Points}}</p>
                </div>
            </div>
            {{/each}}
            
        </div>
    </div>
</div>