<script>
  $('.navtabs').removeClass('active');
  $('#leaderboard').addClass('active');
</script>

<div class="container mainbody">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-12" id="alltime">
        <table class="table table-bordered alltimetb">
          <tr class="tablehead">
            <th id="rankth">Rank</th>
            <th id="nameth">Name</th>
            <th id="ltpth">Lifetime Points</th>
          </tr>

          {{#each leaders}}
          <tr>
            <td>{{this.rank}}</td>
            <td>{{this.fName}} {{this.lName}}</td>
            <td>{{this.Points}}</td>
          </tr>
          {{/each}}

        </table>
      </div>
      
    </div>
  </div>
</div>