body {
    font-family: Arimo, Arial, sans-serif;
    font-size: 16px;
}

#homemain {
    margin: 0;
    padding: 0;
    width: 100%;
}

#mainbgimage {
    width: 100% !important;

}

h3 {
    margin: 0;
}

a {
    color: #85abb5;
}

a:hover, a:focus {
    color: #2B4251;
}

#homemain {
    background-image: url("students.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 800px;
    margin-top: -80px;
}

#opacitybg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.1);
}

#googlesignin {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    max-width: 100%;
}

#Btn {
    background-color: #000000;
    background-color:rgba(0, 0, 0, 0.7);
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 10px 22px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 24px;
}

#Btn:hover {
    cursor: pointer;
}

/* Nav */
nav.navbar {
    border-radius: 0;
    margin-bottom: 0;
    background-color: #2B4251;
    z-index: 2;
}

ul.nav:hover {
    cursor: pointer;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #85abb5;
}

.navbar-default .navbar-nav>.active>a {
    background-color: #85abb5;
}

.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-brand:hover {
    background-color: #2B4251;
    color: #85abb5;
}

a.navbar-brand {
    padding: 17px 25px;
    font-size: 26px;
}

#googleID{
    float: right;
}

/* Modals */
label {
    margin-bottom: 3px;
}

input {
    margin-bottom: 5px;
}

.modalbtn {
    background-color: #2B4251;
    border-color: #2B4251;
}

.modalbtn:hover {
    color: #85abb5;
    background-color: #2B4251;
    border-color: #2B4251;
}

/* Leaderboard */
table.table-bordered {
    text-align: center;
}

.leadertitles {
    margin: 10px 0;
}

.tablehead {
    background-color: #e2e4e9;
}

#rankth, #ltpth, #nameth {
    text-align: center; 
}

#nameth {
    width: 40%;
}

table.alltimetb {
    margin-bottom: 30px;
}

/* Classes */
div.cards {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    width: 200px;
    height: 120px;
}

div.cards:hover {
    border: 1px solid #d5dee0;
    box-shadow: 5px 5px 20px #888888;
}

.className {
    font-size: 20px;
    padding: 0 5px;
    margin: 0;
}

.classDate {
    padding: 0 5px;
    margin: 0;
}

/* Sessions */
div.sidecontainer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #d1d6dc;
    padding: 70px 10px 0 10px;
    z-index: 0;
    min-width: 250px;
}

.sidebar {
    padding: 10px 0;
    list-style-type: none;
}

.rankingname {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 5px;
}

.rankingpoint {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 5px;
    padding-right: 5px;
}

.givepointside {
    display: inline-block;
    margin-bottom: 5px;
}

.glyphicon-plus {
    font-size: 16px;
    padding-right: 5px;
}

li:hover {
    cursor: default;
}

.glyphicon-plus:hover {
    cursor: pointer;
    color: white;
}   

div.main {
    margin-top: 70px;
    padding: 0;
    z-index: 1;
}

div.mainbody {
    margin-top: 50px;
}

#main {
    margin-top: 35px;
    margin-left: 240px;
}

div.studentcards {
    width: 130px;
    cursor: pointer;
}

div.studentcards:hover {
    opacity: 0.8;
}

.studentImage {
    width: 130px !important;
    height: auto;
}

.studentname {
    font-size: 16px;
    line-height: 16px;
    margin: 0;
    display: inline-block;
    padding-right: 5px;
}

.studentPts {
    font-size: 14px;
    line-height: 14px;
}

/* Classmates */
div.thumbnail {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    float: left;
}

div.usercards {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    width: 172px;
    height: auto;
}

.smImage {
    padding-top: 5px;
    width: 150px !important;
    height: 150px;
}

.thumbnail>img {
    margin: 0;
}

.thumbnail .caption {
    padding: 3px 0 0 0;
}

.cmName {
    display: inline-block;
    padding-right: 5px;
    margin: 0;
    font-size: 16px;
}

.cmStats {
    font-size: 14px;
}

.fa-github {
    font-size: 20px;
}

.github {
    padding: 5px 10px;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: #333;
  color: #fff;
  width: 100%;
}

#copyright {
    margin: 5px 0;
}

@media (min-width: 768px) {
    .googleName {
        padding-top: 19.5px;
        padding-bottom: 19.5px;
        padding-right: 10px;
        position: relative;
        color: #ffffff;
    }
    
    .googlePic {
        padding-top: 5px;
        padding-bottom: 5px;
        position: relative;
    }
}