/* Nav */
nav.navbar {
    border-radius: 0;
}

a.navbar-brand {
    padding: 19.5px 25px
}

/* Scoreboard */
table.table-bordered {
    text-align: center;
}

#rankth, #scoreth, #ltpth, #joinedth {
    text-align: center; 
}

#nameth {
    width: 40%;
    text-align: center; 
}

table.alltimetb {
    margin-bottom: 30px;
}

/* Classes */


/* Classmates */
div.thumbnail {
    display: inline-block;
    padding: 5px;
    margin: 5px;
}

.smImage {
    padding-top: 5px;
}

.cmName {
    display: inline-block;
    padding-right: 5px;
    margin: 0;
    font-size: 18px;
}

.cmStats {

}

.fa-github {
    font-size: 20px;
}

.github {
    padding: 5px 10px;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: #333;
  color: #fff;
  width: 100%;
}

#copyright {
    margin: 5px 0;
}